/* last_deals.html */
.deals-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #fff;
}

.deals-table thead {
  background-color: #f0f0f0;
}

.deals-table th,
.deals-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.deals-table th {
  font-weight: bold;
}

.deals-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* add_deal.html */
.create-form input {
  margin-bottom: 20px;
}